﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("articleTitle")</h2>
            @Umbraco.Field("articleBodyText")
            @Umbraco.RenderMacro("listArticles")
        </section>
    </div>
</div>