﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
            <section>
            <h2>@Umbraco.Field("pageTitle")</h2>
            <p>@Umbraco.Field("bodyText")</p>
       </section>  
<div class="container" style="width:400px;height:auto;margin:auto;">
	@if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
	{
		<p>Your message was sent successfully</p>
	}
	else
	{
		Html.RenderAction("RenderForm", "ContactSurface");
	}
	
</div>  
    </div>
</div>