﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Home>
@using umbraco.MacroEngines;
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">

        <article>
            <section>
                <p>@Umbraco.Field("missionStatement")</p>
            </section>
            <section>
                <p>@Umbraco.Field("investmentStrategy")</p>
            </section>
            <section>
                <p>@Umbraco.Field("competitiveEdge")</p>
            </section>
        </article>

        <aside>
            <h3>aside</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
        </aside>
@*@{ var mediaId = 1066; }
@if (mediaId != null)
{
   
    var media = Umbraco.Media(mediaId);
    var selection = media.Children("Image");

    if (selection.Any())
    {
        <ul>
            @foreach (var item in selection)
            {
                <li>
                    <img src="@item.umbracoFile" alt="@item.Name" />
                </li>
            }
        </ul>
    }
}*@

    </div> <!-- #main -->
</div> <!-- #main-container -->