﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ Layout = null; } @* the fun starts here *@

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">

	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">
			    <a href="/">
			        <img class="logo" src="@CurrentPage._logo.Url" />
			     </a>
			 </h1>
    		<nav>
                <ul>
                    @foreach(var page in CurrentPage.Site().Children.Where("Visible"))
                    {
                        <li class="@(page.IsAncestorOrSelf(CurrentPage)?"current":null)">
                            <a href="@page.Url">@page.Name</a>
                        </li>                        
                    }
                </ul>
                
            </nav>
		</header>
	</div>
        
			@RenderBody()
	<!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>@Umbraco.Field("footer", recursive: true)</h3>
		</footer>
	</div>
</body>

</html>