﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <img src ="@CurrentPage._preview.Url" />
            <h2>@Umbraco.Field("pageTitle")</h2>
            @Umbraco.Field("bodyText")
        </section>
    </div>
    	<div class="case-controls">
		<div class="team-navigation-wrapper">
			@if (CurrentPage.Previous() != null)
			{
				<a href="@CurrentPage.Previous().Url"> < @CurrentPage.Previous().PageTitle</a>
			}
			<a href="@CurrentPage.AncestorOrSelf("newsMedia").Url">MAIN</a>

			@if (@CurrentPage.Next() != null)
			{
				<a href="@CurrentPage.Next().Url">  @CurrentPage.Next().PageTitle ></a>
			}
		</div>
	</div>
</div>