﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsMedia>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <img src="@CurrentPage._preview.Url" />
            <h2>@Umbraco.Field("pageTitle")</h2>
            <p>@Umbraco.Field("bodyText")</p>
            @Umbraco.RenderMacro("news")
        </section>
    </div>
</div>