﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PortfolioItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <img style="width:400px; height:auto; margin:auto;" src="@CurrentPage._preview.Url" />
        <section>
            <h1>@Umbraco.Field("PageTitle", recursive:true)</h1>
            <hr />
            <h2>@Umbraco.Field("Title")</h2>
            <p>@Umbraco.Field("ShortDescription")</p>
            <p>@Umbraco.Field("Description")</p>
        </section>
    </div>
        <div class="case-controls">
            <div class="team-navigation-wrapper">
                @if(CurrentPage.Previous() != null){
                    <a href="@CurrentPage.Previous().Url"> < @CurrentPage.Previous().Title</a>
                }
                
                  <a href="@CurrentPage.AncestorOrSelf(1).Children.Last().Url">MAIN</a>
                
                 @if(@CurrentPage.Next() != null){
                    <a href="@CurrentPage.Next().Url">  @CurrentPage.Next().Title ></a>
                }
            </div>
        </div>
</div>