﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Portfolio>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("pageTitle")</h2>
            @Umbraco.Field("bodyContent")
            @Umbraco.RenderMacro("portfolio")
        </section>
    </div>
</div>