﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TeamMate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="main-container">
	<div id="main" class="wrapper clearfix">
		<section>
			<h1>@Umbraco.Field("pageTitle", recursive: true)</h1>
			<hr />
			<h2>@Umbraco.Field("fullName")</h2>
			<p>@Umbraco.Field("title")</p>
			<p>@Umbraco.Field("description")</p>
		</section>
	</div>
	<div class="case-controls">
		<div class="team-navigation-wrapper">
			@if (CurrentPage.Previous() != null)
			{
				<a href="@CurrentPage.Previous().Url"> < @CurrentPage.Previous().FullName</a>
			}
			<a href="@CurrentPage.AncestorOrSelf("teamMain").Url">MAIN</a>

			@if (@CurrentPage.Next() != null)
			{
				<a href="@CurrentPage.Next().Url">  @CurrentPage.Next().FullName ></a>
			}
		</div>
	</div>
</div>