﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TeamMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("pageTitle")</h2>
            @Umbraco.Field("bodyText")
            @Umbraco.RenderMacro("team")
        </section>
    </div>
</div>