    .team-item{
        display:inline-block;
        width:175px;
        height:175px;
        margin: 10px 10px;
        background: #18a29b;
        color: #FFF;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        overflow:hidden;
        box-sizing: border-box;
    }
    .team-item:hover{
        background: #FFF;
        color: #18a29b;
    }
    .team-item-name, .team-item-title{
        width: 100%;
        height: 100%;
        line-height: 100px;
    }
    .team-item .team-item-name{
        display:block;
    }
    .team-item .team-item-title{
        display:none;
    }
    .team-item:hover .team-item-title{
        display:block;
    }
    .team-item:hover .team-item-name{
        display:none;
    }
    .case-controls{
        width:100%;
        height:100px;
        border: 1px solid black;
    }
    
    .case-controls{
        display: inline-block;
    }
    .case-controls a{
        margin-right: 50px;
    }
    .case-controls a:last-child{
        margin-right: 0;
    }
    
    .team-navigation-wrapper{
        width: 800px;
        height: 200px;
        margin: auto;
        overflow:visible;
    }

    .preview-img{
        width:100px;
    }