﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var selection = CurrentPage.Children.Where("Visible");
}

@foreach(var item in selection)
{
    <div class="article">
        <img class="preview-img" src="@item._preview.Url" />
        <div class="articletitle"><a href="@item.Url">@item.PageTitle</a></div>
        <div class="articlepreview">@Umbraco.Truncate(@item.BodyText,250) 
            <a href="@item.Url">Read More...</a>
        </div>
    </div>
    <hr/>
}