﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var selection = CurrentPage.Children.Where("Visible");
}

@foreach(var item in selection)
{
    <a class="team-item" href="@item.Url" style="background: url(@item.Preview.Url)">
            <div class="team-item-name">@item.Title</div>
            <div class="team-item-title">@item.ShortDescription</div>
    </a>
}