﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var selection = CurrentPage.Children.Where("Visible");
}

@foreach(var item in selection)
{
    <a class="team-item" href="@item.Url">
            <div class="team-item-name">@item.FullName</div>
            <div class="team-item-title">@item.Title</div>
    </a>
}