﻿<div class="umb-dialog-body" style="padding:30px" data-ng-controller="DeleteJobRequestController">
	<ng-switch on="currentNode.nodeType">
		<div ng-switch-default="">
			<p>
				<localize key="defaultdialogs_confirmdelete"></localize>
				<strong data-ng-bind="currentNode.name"></strong> ?
			</p>
			<hr>
		</div>
		<div class="umb-pane btn-toolbar umb-btn-toolbar">
			<div class="control-group umb-control-group">
				<a href="" class="btn btn-link" ng-click="onCancel()"><localize key="general_cancel"></localize></a>
				<a href="" class="btn btn-primary" ng-click="onConfirm()"><localize key="general_ok"></localize></a>
			</div>
		</div>
	</ng-switch>
</div>