﻿
<div data-ng-controller="JobRequestsController">
	<umb-panel>
		<umb-header>
			<h1>Candidate Details</h1>
		</umb-header>
		<div class="umb-panel-body umb-scrollable row-fluid">
			<div class="tab-content form-horizontal" style="padding-bottom: 90px">
				<div class="umb-pane"  data-ng-if="details != null">
					<umb-control-group label="Full Name" description="" data-ng-if="details.fullName != null">
						<div class="umb-el-wrap">
							<div class="controls controls-row">
								<span data-ng-bind="details.fullName" />
							</div>
						</div>
					</umb-control-group>
					<umb-control-group label="Email" description="" data-ng-if="details.email != null">
						<div class="umb-el-wrap">
							<div class="controls controls-row">
								<span>
									<a style="text-decoration:underline" href="mailto:{details.email}" data-ng-bind="details.email"></a>
								</span>
							</div>
						</div>
					</umb-control-group>
					<umb-control-group label="RequestedOn" description="" data-ng-if="details.requestedOn != null">
						<div class="umb-el-wrap">
							<div class="controls controls-row">
								<span data-ng-bind="details.requestedOn"></span>
							</div>
						</div>
					</umb-control-group>
					<umb-control-group label="CV" description="" data-ng-if="details.cvFile != null">
						<div class="umb-el-wrap">
							<div class="controls controls-row">
								<a download target="_blank" href="{{details.cvFile}}">Download</a>
							</div>
						</div>
					</umb-control-group>
					<umb-control-group label="Covering Letter" description="" data-ng-if="details.coveringLetterFileUrl != null">
						<div class="umb-el-wrap">
							<div class="controls controls-row">
								<a download target="_blank" href="{{details.coveringLetterFileUrl}}">Download</a>
							</div>
						</div>
					</umb-control-group>
				</div>
				<h3 style="width:100%;text-align:center" data-ng-if="details == null && !loading">{{errorMessage}}</h3>
			</div>
		</div>
	</umb-panel>
</div>