﻿@inherits UmbracoViewPage<UmbracoCmsLearning.Custom.Models.ContactModel>

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.FirstName)
		</div>
		<div class="col-xs-9">
			@Html.TextBoxFor(m => m.FirstName)
			<div class="alert alert-danger">@Html.ValidationMessageFor(x => x.FirstName)</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.LastName)
		</div>
		<div class="col-xs-9">
			@Html.TextBoxFor(m => m.LastName)
			<div class="alert alert-danger">@Html.ValidationMessageFor(m => m.LastName)</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.EmailAddress)
		</div>
		<div class="col-xs-9">
			@Html.TextBoxFor(m => m.EmailAddress)
			<div class="alert alert-danger">@Html.ValidationMessageFor(m => m.EmailAddress)</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.Message)
		</div>
		<div class="col-xs-9">
			@Html.TextAreaFor(m => m.Message)
			<div class="alert alert-danger">@Html.ValidationMessageFor(m => m.Message)</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.CVFile)
		</div>
		<div class="col-xs-9">
			<input type="file" name="@Html.NameFor(x => x.CVFile)" id="@Html.IdFor(x => x.CVFile)" />
			<div class="alert alert-danger">@Html.ValidationMessageFor(m => m.CVFile)</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-3">
			@Html.LabelFor(m => m.CoveringNoteFile)
		</div>
		<div class="col-xs-9">
			<input type="file" name="@Html.NameFor(x => x.CoveringNoteFile)" id="@Html.NameFor(x => x.CoveringNoteFile)" />
			<div class="alert alert-danger">@Html.ValidationMessageFor(m => m.CoveringNoteFile)</div>
		</div>
	</div>
	<button>Submit</button>
}